body{
    
    background-image: url('../images/sport/sport.jpg');
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    

}

footer
{
    color: white;
}

.sport{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sport-list{

    background-color: white;
    color: black;
    height: 100%;
    width: 100%;

}


.card-img-top{
    height: 550px;
}

.alert{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1060;
    display: none;
}

.close{
    cursor: pointer;
}

.form-subscription{
    background-color: white;
   
}

.btn{
    margin-bottom: 10px;
    
}

.profile{
    display: flex;
    flex-direction: row;
}

.text{
    text-align: justify;
    overflow: hidden;
    padding: 15px;
}

.list-friend{
    background-color: white;
}

.member{
    text-align: center;
    margin: 15px;
}

.page{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .member{
        
        margin: 60px;
    }

    .profile {
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    .card-member{
        
        margin-left: 220px;
    }
}